.wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   .num-item {
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border: 1px solid var(--background-gold);
      color: var(--gold-dark-text);
      font-size: 1.1rem;
      background-color: var(--background-light-blue);
      border-radius: 50%;
      transform: translate(50%, -40%);
   }
}
