.wrapper {
   height: var(--default-layout-header-height, 80px);
   display: flex;
   justify-content: center;
}
.inner {
   height: 100%;
   width: var(--default-layout-width, 1080px);
   background-color: var(--background-gray);
   display: flex;
   justify-content: space-around;
   align-items: center;
   .logo {
      overflow: hidden;
      height: 100%;
      display: flex;
      align-items: center;
   }

   .setting {
      display: flex;
      font-size: 2rem;
      gap: 15px;
      align-items: center;
      .icon:hover,
      .icon-menu:hover {
         color: var(--gold-dark-text);
         transition: color 0.4s ease;
         cursor: pointer;
      }
      .icon:active,
      .icon-menu:active {
         color: var(--gold-text);
      }
      .icon-menu {
         padding: 6px;
      }
   }
   .setting {
      .user-avatar {
         width: 34px;
         height: 34px;
         border-radius: 50%;
         border: 1px solid var(--gold-blur-text);
         object-fit: cover;
         cursor: pointer;
      }
   }
}
