.wrapper {
   width: 100%;
   max-height: min((50vh - var(--default-layout-header-height)), 400px);
   min-height: 100px;
   border-radius: 8px;
   background: rgba(22, 24, 35, 0.06);
   box-shadow: rgba(0 0 0 / 15%) 0 2px 15px;
   padding-top: 8px;
}
